---
layout: layouts/base.njk
title: Home
---
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script> particlesJS.load('particles-js', '/static/js/particles-config.json', function() {console.log('Particles loaded.');}); </script>

<section class="hero">
  <div id="particles-js"></div>
  <h2>Real-Time Cybersecurity Threats & Insights</h2>
  <p>Actionable insights, breaking threats, and hands-on toolkits to keep you ahead of attackers.</p>
</section>

<section class="threat-ticker">
  <div class="ticker-wrapper">
    <div class="ticker-content">
      <span>🚨 CVE-2025-1024 - Remote RCE in Chromium browsers</span>
      <span>🧬 Phishing campaign mimics Microsoft 365 login</span>
      <span>🔒 Zero-day exploit used against Fortinet appliances</span>
      <span>💉 Ransomware group targeting EU hospitals</span>
    </div>
  </div>
</section>

<section class="content-grid">
  {% set tagLabels = {
    "explainers": "🎓 Explainer",
    "redteam": "📚 Red Team Diaries",
    "research": "💡 Latest Insights"
    }
  %}

  {% set latestExplainer = false %}
  {% set latestRedteam = false %}
  {% set latestTools = false %}
  {% set latestInsights = false %}
  {% set explainerFound = false %}
  {% set redteamFound = false %}
  {% set toolsFound = false %}
  {% set insightsFound = false %}
  {% for post in collections.post | reverse %}
    {% if not explainerFound and "explainers" in post.data.tags %}
      {% set latestExplainer = post %}
      {% set explainerFound = true %}
    {% endif %}
    {% if not redteamFound and "redteam" in post.data.tags %}
      {% set latestRedteam = post %}
      {% set redteamFound = true %}
    {% endif %}
    {% if not toolsFound and "tools" in post.data.tags %}
      {% set latestTools = post %}
      {% set toolsFound = true %}
    {% endif %}
    {% if not insightsFound and "insights" in post.data.tags %}
      {% set latestInsights = post %}
      {% set insightsFound = true %}
    {% endif %}
  {% endfor %}

  {% if latestTools %}
    <div class="card">
      <a class="a-no-style" href="/tags/tools">
        <h3>🛠 Tools Selection</h3>
        <p>{{ latestTools.data.excerpt }}</p>
      </a>
    </div>
  {% endif %}
  
  {% if latestExplainer %}
    <div class="card">
      <a class="a-no-style" href="/tags/explainers">
        <h3>🎓 Explainer</h3>
        <p>{{ latestExplainer.data.excerpt }}</p>
      </a>
    </div>
  {% endif %}

  <div class="card-op">
    <a class="a-no-style" href="/latest-news">
      <h3>🌍 Live Threat News</h3>
      <p>Discover our news feed service and stay always up-to-date with the latest news!</p>
    </a>
  </div>
  <div class="card-op">
    <a class="a-no-style" href="/cve-intel-center">
      <h3>📊 Vulnerability Intel Center</h3>
      <p>Discover our vulnerability service and dig inside CVEs!</p>
    </a>
  </div>

  {% if latestInsights %}
    <div class="card">
      <a class="a-no-style" href="/tags/insights">
        <h3>💡 Latest Insights</h3>
        <p>{{ latestInsights.data.excerpt }}</p>
      </a>
    </div>
  {% endif %}
  
  {% if latestRedteam %}
    <div class="card">
      <a class="a-no-style" href="/tags/redteam">
        <h3>📚 Red Team Diaries</h3>
        <p>{{ latestRedteam.data.excerpt }}</p>
      </a>
    </div>
  {% endif %}

</section>

<section class="latest-posts">
  <h3>🆕 Latest Insights</h3>
  <div class="post-list">
    {% for post in collections.post | reverse | limit(5) %}
      <a href="{{ post.url }}" class="post-preview a-no-style">
        {% if post.data.cover %}
          <img src="{{ post.data.cover }}" alt="{{ post.data.title }}" class="cover-img" />
        {% endif %}
        <div class="post-box">
          <h4 class="post-preview-title">{{ post.data.title }}</h4>
          <p>{{ post.data.excerpt }}</p>
          <small>{{ post.date | readableDate }}</small>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

<section class="newsletter-cta">
  <div class="ml-embedded" data-form="AZ77fY"></div>
</section>

