<section class="support-box">
    <h3><strong>Buy us a coffee!</strong></h3>
    <div class="support-content">
      <img src="/static/img/cafe.png" alt="Coffee cup icon" class="support-icon" />
      <div>
        <p>
          8BitSecurity is a free an indipendent project.<br>Support us with a small contribution!
        </p>
        <a href="https://www.paypal.com/donate/?hosted_button_id=MKBWPUURN3GGQ" class="donate-button" target="_blank" rel="noopener">DONATE</a>
      </div>
    </div>
</section>