---
layout: layouts/base.njk
title: Offline
permalink: /offline.html
eleventyExcludeFromCollections: true
---
<section class="offline-page">
  <h1>You're offline.</h1>
  <p>It looks like you're not connected to the internet. Try again later.</p>
</section>
