<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>

    <header>
      <div class="nav-container">
        <h1><a href="/">8BitSecurity</a></h1>
        <button class="mobile-nav-toggle" aria-label="Toggle navigation">☰</button>
        {% include "components/nav.njk" %}
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}

    <script> document.querySelector('.mobile-nav-toggle').addEventListener('click', () => {document.querySelector('nav').classList.toggle('open');}); </script>
    <script> (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[]).push(arguments);},l=d.createElement(e),l.async=1,l.src=u,n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');ml('account', '1539286'); </script>
    <script> if ('serviceWorker' in navigator) {navigator.serviceWorker.register('/static/js/service-worker.js').then(() => console.log("SW registered")).catch(err => console.error("SW failed", err));} </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/stats-chart.js" defer></script>

  </body>

</html>
