---
layout: layouts/base.njk
section: post
---

<article class="post">
  {% if cover %}
    <div class="post-cover">
      <img src="{{ cover }}" alt="{{ title }}" loading="lazy" decoding="async" />
    </div>
  {% endif %}

  <div class="post-meta">
    <h1 class="post-title">{{ title }}</h1>
    <p class="post-info">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
      {% if author %} • {{ author }}{% endif %}
      <p class="reading-time">⏱ {{ content | readingTime }} • reading time</p>
    </p>
  </div>

  <div class="post-content">
    {{ content | safe }}
  </div>

</article>

{% include "components/donation.njk" %}

{% include "components/recommended.njk" %}